{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Eid Card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h1 class="h">⏾</h1>
      <h1 class="h">✨ঈদ মোবারক✨</h1>
      <form id="cardForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="name">আপনার নাম লিখুন:</label>
        <input type="text" name="name" placeholder="নাম" required />

        <label for="message">আপনার বার্তা লিখুন:</label>
        <textarea name="message" placeholder="বার্তা" required></textarea>

        <label for="image">একটি মজার ছবি আপলোড করুন:</label>
        <div class="custom-file">
          <input type="file" name="image" id="image" accept="image/*" required />
          <label class="file-label" for="image"><span id="file-chosen">ক্লিক করুন বা ব্রাউজ করুন</span></label>
        </div>

        <button type="submit"><i class="fas fa-share-alt"></i> শেয়ার করুন</button>
      </form>

      <script>
        const fileInput = document.getElementById('image')
        const fileLabel = document.querySelector('.file-label')
        
        fileInput.addEventListener('change', function () {
          if (fileInput.files.length > 0) {
            fileLabel.textContent = fileInput.files[0].name
          } else {
            fileLabel.textContent = 'ফাইল নির্বাচন করুন...'
          }
        })
      </script>

      <div id="result"></div>
      <p class="an">🎉ঈদের আনন্দ ছড়িয়ে দিন সবার কাছে🎉</p>
      <footer class="footer-sub">
        <div class="footer-info">
          <p>
            © 2026 All Rights Reserved | Developed by
            <a href="https://mominrifat-production.up.railway.app/" target="_blank">Momin Rifat</a>
          </p>
        </div>
      </footer>
    </div>
    <script src="{% static 'js/html2canvas.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
